.log-level {
  flex-grow: 1;
  display: flex;
  gap: 16px;
  margin-top: 14px;

  > div:first-child {
    position: relative;

    svg {
      position: absolute;
      top: 11px;
      left: 16px;
      color: rgba(150, 150, 150, 1);
    }
  }

  .select {
    background-position: url(/icons/logs.svg);
  }

  select {
    border-color: rgba(150, 150, 150, 1);
    padding-left: 40px;
  }
}
