.app-bar {
  height: 80px;
  justify-content: space-between;
  border-bottom: 1px solid var(--codex-border-color);
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #96969633;
  box-sizing: border-box;
  background-color: #1c1c1c;
  border-right: 12px solid transparent;
  position: sticky;
  top: 0;
  z-index: 2;

  @media (min-width: 1000px) {
    & {
      padding: 20px 48px;
    }
  }

  &:not(.app-bar--offline):not(.app-bar--no-persistence) {
    border-right-color: #6ccc93;
  }

  &.app-bar--offline {
    border-right-color: var(--codex-input-color-error);
  }

  &.app-bar--no-persistence:not(.app-bar--offline) {
    border-right-color: rgb(var(--codex-color-warning));
  }

  h1 {
    font:
      500 18px/24px "Inter",
      sans-serif;
    letter-spacing: -0.015em;
    color: white;
    text-transform: capitalize;
  }

  h2 {
    font:
      400 14px/20px "Inter",
      sans-serif;
    letter-spacing: -0.006em;
    color: #969696cc;
  }

  > div {
    span {
      background: #141414;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #353639;
      border-radius: 50%;
      color: #969696;
    }
  }

  aside {
    svg {
      padding: 10px;
      background-color: #141414;
      border-radius: var(--codex-border-radius);
    }

    span {
      font:
        500 14px/20px "Inter",
        sans-serif;
      letter-spacing: -0.006em;
      color: #8d8d8d;

      @media (max-width: 999px) {
        & {
          display: none;
        }
      }
    }

    > div:last-child {
      cursor: pointer;
    }
  }
}

/* @media (min-width: 1000px) {
  .appBar-burger {
    display: none;
  }
} */
