.background-img {
  position: absolute;
  right: -40px;
  max-height: 90%;
  width: auto;
  /* z-index: -1; */
  transition: opacity 0.35s;
  opacity: 0.3;

  @media (min-width: 1200px) {
    & {
      opacity: 1;
    }
  }
}
