.network-indicator {
  display: flex;
  align-items: center;
  gap: 16px;
}

.network-indicator-icon {
  background-color: #141414;
  border-radius: var(--codex-border-radius);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.network-indicator-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: #8d8d8d;
}
