.connected-account {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* min-width: 550px; */

  main {
    flex: 1;
  }

  > footer {
    ul {
      display: flex;
      list-style-type: none;
      margin-top: 16px;
      border: 1px solid #96969633;
      background-color: #14141499;
      height: 24px;
      border-radius: 6px;

      li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        color: #969696;

        &:hover {
          cursor: pointer;
        }

        &[aria-selected] {
          background: #2f2f2f;
          color: white;
        }
      }
    }

    button {
      background-color: #161616;
      border: 1px solid #96969633;
      height: 24px;
      width: 24px;
      border-radius: 6px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      svg {
        position: relative;
        left: -2px;
      }
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
    }

    h6 {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.006em;
      text-align: left;
      color: #969696;
    }

    var {
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.015em;
      text-align: left;
      color: white;
      font-style: normal;
    }

    small {
      font-family: Inter;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: #7d7d7d;
    }
  }
}
