.wallet-card {
  background-image: -webkit-image-set(
    url(/img/wallet.webp),
    url(/img/wallet.png)
  );
  background-image: image-set(
    url(/img/wallet.webp) type("image/webp"),
    url(/img/wallet.png) type("image/png")
  );

  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(150, 150, 150, 0.2);
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: " ";
    width: 42%;
    height: 50%;
    position: absolute;
    bottom: -1px;
    right: 0;
    background: transparent;
    backdrop-filter: blur(3px);
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;

    button {
      background-color: rgb(22, 22, 22);
      border: 1px solid rgba(150, 150, 150, 0.2);
      height: 24px;
      width: 24px;
      cursor: pointer;
      transition: box-shadow 0.35s;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0 0 0 3px rgba(150, 150, 150, 0.2);
      }

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      &:nth-child(2) {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      svg {
        position: relative;
        left: -2px;
      }
    }
  }

  h6 {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
  }

  span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: rgb(255, 255, 255, 0.7);
  }

  var {
    font-family: Inter;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.005em;
    color: rgb(255, 255, 255);
    display: block;
    font-style: normal;
  }

  main var {
    font-size: 32px;
  }

  svg + svg {
    position: absolute;
    left: 0;
    top: 10px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after {
      content: " ";
      background-image: url(/icons/select-arrow.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 16px;
      height: 16px;
      right: 0;
      top: 22px;
    }

    var {
      font-size: 20px;
      line-height: 25px;
    }

    select {
      background-color: rgb(22, 22, 22);
      border-radius: 8px;
      border: 1px solid rgba(150, 150, 150, 0.2);
      padding: 6px 24px 6px 34px;
      outline: none;
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      position: relative;
      transition: box-shadow 0.35s;
      height: 31px;
      font-size: 0;

      &:hover {
        box-shadow: 0 0 0 3px rgba(150, 150, 150, 0.2);
      }

      &:has(option:checked) {
        background-position: 10px;
        background-repeat: no-repeat;
        background-size: 16px;
      }

      &:has(option[value="USD"]:checked) {
        background-image: url(/icons/us-flag.svg);
      }

      &:has(option[value="EUR"]:checked) {
        background-image: url(/icons/euro-flag.svg);
      }

      &:has(option[value="AUD"]:checked) {
        background-image: url(/icons/aud-flag.svg);
      }

      &:has(option[value="CAD"]:checked) {
        background-image: url(/icons/cad-flag.svg);
      }

      &:has(option[value="CNY"]:checked) {
        background-image: url(/icons/cny-flag.svg);
      }

      &:has(option[value="BTC"]:checked) {
        background-image: url(/icons/btc-flag.svg);
      }

      &:has(option[value="ETH"]:checked) {
        background-image: url(/icons/eth-flag.svg);
      }

      option {
        border-radius: 32px;
        font-size: 16px;
      }
    }

    div {
      position: relative;

      .row {
        gap: 8px;
      }
    }

    small {
      color: rgb(62, 224, 137);
      height: 20px;
      width: 42px;
      border-radius: 16px;
      background-color: rgb(31, 193, 107, 0.16);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  section:first-child {
    margin-top: 12px;
  }

  section:nth-child(2) {
    margin-top: 16px;
    margin-bottom: 10px;
    position: relative;

    .wallet-lines {
      position: absolute;
      left: 0;
      top: 10px;
    }
  }

  .lines {
    height: 200;
    transform: scale(1.25);
  }
}
