.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  @media (min-width: 1000px) {
    & {
      flex-direction: row;
      gap: 32px;
      align-items: center;
    }
  }

  .emoji {
    position: relative;

    aside {
      position: absolute;
      top: -140px;
      left: 0px;
      z-index: 1;

      @media (min-width: 1000px) {
        & {
          left: 116px;
        }
      }
    }

    .input input {
      width: 64px;
      text-align: center;
      cursor: pointer;
    }
  }

  .input input {
    width: 100%;

    @media (min-width: 1000px) {
      & {
        width: inherit;
      }
    }
  }
}
