.index {
  width: 100%;
  padding: 3rem 6rem;
}

.index-logo {
  position: relative;
}

.index-network {
  display: flex;
  position: absolute;
  top: -19px;
  left: -161px;
  gap: 4px;
  width: 200px;
  justify-content: flex-end;
}

.index-network-text {
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text-soft-400, #99a0ae);
  text-wrap: nowrap;
}

.index-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.index-alphaText {
  margin-top: 4px;
}

.index-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43.2px;
}

.index-version {
  font-weight: 500;
  opacity: 0.6;
}

.index-link {
  text-decoration: underline;
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: inherit;
  margin-top: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.index-link2:hover,
.index-link:hover {
  animation-name: example;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
  30% {
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
  }
  100% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
}

.index-mainTitle {
  font-family: Inter;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.57px;
  letter-spacing: 0.01em;
}

.index-codex {
  font-weight: 400;
}

.index-vault {
  font-weight: 900;
  text-transform: uppercase;
}

.index-description {
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.34px;
  max-width: 532px;
  margin-top: 20px;
}

.index-subtitle {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19.36px;
  color: var(--codex-color-primary);
}

.index-getStarted {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  letter-spacing: 0.01em;
  margin-top: 32px;
  font-family: Inter;
  color: #7bfbaf;
  gap: 4px;
  text-decoration: none;
  border-bottom: 2px solid #7bfbaf;
}

.index-columnRight,
.index-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-column-section {
  max-width: 450px;
}

.index-column-section:not(:first-child) {
  flex: 1;
}

.index-column-section:first-child {
  flex: 0.7;
}

.index-column-section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-dots {
  display: flex;
  gap: 8px;
}

.index-dot {
  width: 12px;
  height: 12px;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  transition: opacity 0.35s;
}

.index-dot:not(.index-dot--active) {
  opacity: 0.4;
}

.index-dot:hover {
  animation-name: pulse;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.index-dot--active {
  box-shadow: 0px 0px 12px 0px #fff;
  opacity: 1;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
