.welcome-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  /* min-width: 420px; */

  .card {
    position: relative;
    overflow: hidden;
  }

  > div {
    padding: 16px;
    background-color: rgb(20, 20, 20);
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  main {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    h6 {
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 24.2px;
      color: var(--codex-color-primary);
    }

    p {
      margin-top: 16px;
      margin-bottom: 32px;
      font-family: Azeret Mono;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      color: rgb(127, 148, 141);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a {
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.36px;
      letter-spacing: 0.01em;
      text-align: left;
      color: rgb(123, 251, 175);
      display: flex;
      align-items: center;
      display: flex;
      align-items: center;

      &:first-child {
        border-bottom: 1px solid rgb(123, 251, 175);
        text-decoration: none;
        gap: 8px;
      }

      &:nth-child(2) {
        gap: 12px;
        padding-bottom: 2px;
        text-underline-offset: 5px;
      }
    }
  }

  footer {
    margin-top: 32px;
  }

  @media (max-width: 600px) {
    img {
      display: none;
    }
  }
}
