.welcome {
  border-radius: var(--codex-border-radius);
  border: 1px solid var(--codex-border-color);
  background-color: var(--codex-background-secondary);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.welcome-disclaimer {
  margin: 1rem 0;
}

.welcome-title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}

.welcome-body {
  flex: 1;
}

.welcome-link {
  display: flex;
  align-items: center;
  color: var(--codex-color-primary);
}

.welcome-link:hover {
  text-decoration: underline;
}
