.fileDetails-header {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--codex-border-color);
  display: flex;
  align-items: center;
}

.fileDetails-headerTitle {
  flex-grow: 1;
}

.fileDetails-body {
  padding: 0;
}

.fileDetails-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--codex-border-color);
}

.fileDetails-gridColumn {
  grid-column: span 2 / span 2;
  color: var(--codex-text-contrast);
}

.fileDetails-actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
}
