.filter {
  padding: 4px 8px;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(150, 150, 150, 0.2);
  background-color: rgb(47, 47, 47);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: rgba(150, 150, 150, 1);
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.35s;

  &:hover {
    box-shadow: 0 0 0 3px rgba(150, 150, 150, 0.2);
  }

  svg {
    color: rgba(150, 150, 150, 1);
  }

  &.filter--active {
    border-color: var(--codex-color-primary);
    color: var(--codex-color-primary);

    svg {
      color: var(--codex-color-primary);
    }
  }
}
