.files {
  section {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 16px;

    .tabs {
      flex-basis: 75%;
    }
  }

  .filters {
    margin-top: 16px;
    gap: 16px;
    display: flex;
  }

  .button {
    width: 105px;
  }

  table thead tr th {
    background-color: #14141499;
  }
}
