.file-details {
  background-color: rgb(35, 35, 35);
  border-left: 1px solid rgba(150, 150, 150, 0.2);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 16px;
  height: 100%;

  header {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    gap: 16px;
    margin-bottom: 8px;

    span {
      flex-grow: 1;
    }

    .button-icon {
      background-color: rgb(47, 47, 47);
      border: 1px solid rgba(150, 150, 150, 0.2);

      svg {
        position: relative;
        left: -3px;
        top: -1px;
      }
    }
  }

  .preview {
    background-color: rgba(20, 20, 20, 0.6);
    border: 1px solid rgba(105, 105, 105, 0.2);
    height: 150px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 16px;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: flex;
    }

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      margin: 0;

      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.011em;
      text-align: left;
      color: rgb(255, 255, 255, 0.2);

      p {
        margin-top: 8px;
      }
    }
  }

  ul {
    li {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      display: grid;
      padding: 8px 0;
      align-items: center;

      p:first-child {
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.006em;
        text-align: left;
      }

      p:nth-child(2) {
        grid-column: span 2 / span 2;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.006em;
        text-align: left;
        color: rgba (255, 255, 255, 0.8);
      }

      &:last-child p:nth-child(2) {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.006em;
        text-align: left;

        color: rgb(107, 236, 161);
      }
    }
  }

  .buttons {
    padding: 16px 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    display: flex;
    gap: 16px;

    button {
      flex: 1;
    }
  }

  .purchases {
    padding-bottom: 16px;

    header {
      margin-top: 16px;
      display: block;
      border-bottom: 1px solid rgba(150, 150, 150, 0.2);
      padding-bottom: 16px;

      > span {
        display: flex;
        gap: 16px;
      }
    }

    thead tr th {
      border-top: 1px solid rgba(150, 150, 150, 0.2);
      border-bottom: 1px solid rgba(150, 150, 150, 0.2);

      &:first-child {
        border-left: 1px solid rgba(150, 150, 150, 0.2);
      }

      &:last-child {
        border-right: 1px solid rgba(150, 150, 150, 0.2);
      }
    }

    .truncateCell {
      width: 100px;
    }
  }
}
