.fileDetails {
  position: fixed;
  transition: transform 0.25s;
  background-color: var(--codex-background-secondary);
  z-index: 2;
  justify-content: space-between;
}

.fileDetails-header {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--codex-border-color);
  display: flex;
  align-items: center;
}

.fileDetails-headerTitle {
  flex-grow: 1;
}

.files-backdrop {
  z-index: 2;
}

.fileDetails-body {
  padding: 0;
}

.fileDetails-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--codex-border-color);
}

.fileDetails-gridColumn {
  grid-column: span 2 / span 2;
  color: var(--codex-text-contrast);
}

.fileDetails-actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
}

@media (min-width: 1000px) {
  .fileDetails {
    width: 300px;
    height: 100%;
    bottom: 0;
    top: 0;
    transform: translatex(300px);
    right: 0;
  }

  .fileDetails[aria-expanded] {
    transform: translatex(0);
    z-index: 10;
  }
}

@media (max-width: 999px) {
  .fileDetails {
    width: 100%;
    height: auto;
    bottom: 0;
    top: auto;
    transform: translatey(1000px);
    left: 0;
    padding-bottom: 1.5rem;
  }

  .fileDetails[aria-expanded] {
    transform: translatey(0);
    z-index: 10;
  }
}
