.folder-button {
  > div {
    position: absolute;
    transform: translate(-110px, -75px);
    opacity: 0;
    transition:
      transform 0.25s,
      opacity 0.15s;
    background-color: var(--codex-background);
    padding: 0.5rem;
    border-radius: var(--codex-border-radius);
    width: 150px;
    right: -40px;
    border: 1px solid var(--codex-border-color);
    z-index: -1;

    &[aria-expanded] {
      z-index: 12;
      transform: translate(-110px, -200px);
      opacity: 1;
    }

    > div {
      padding: 0.75rem;
      transition: background-color 0.35s;
      cursor: pointer;
      border-radius: var(--codex-border-radius);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: var(--codex-background-light);
      }
    }

    svg {
      color: var(--codex-color-primary);
    }
  }
}
