.storageRequestReview-hr {
  margin-bottom: 1.5rem;
  margin-top: 0rem;
}

.storageRequestReview-numbers {
  display: grid;
  gap: 0.5rem;
}

.storageRequestReview-range {
  margin: 0.5rem 0 1rem 0;
  font-size: 0.85rem;
}

.storageRequestReview-alert .alert-message {
  font-size: 0.9rem;
}

.storageRequestReview-range--disabled .range {
  opacity: 0.5;
}

.storageRequestReview-presets {
  display: flex;
  padding: 0 0.5rem 2rem 0.5rem;
  gap: 1rem;
}

.storageRequestReview-presets-blocs {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

.storageRequestReview-presets-bloc {
  flex: 1;
  border-radius: var(--codex-border-radius);
  background-color: rgb(56 56 56);
  align-items: center;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: opacity 0.35s;
  cursor: pointer;
  border: 1px solid transparent;
}

.storageRequest-price {
  display: flex;
  justify-content: center;
}

.storageRequestReview-presets-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.storageRequestReview-presets-bloc:not(
    .storageRequestReview-presets--selected
  ):hover {
  border: 1px solid var(--codex-border-color);
}

.storageRequestReview-presets--selected {
  border: 1px solid var(--codex-color-primary);
}

.storageRequestReview-alert {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.storageRequestReview-expiration {
  min-width: 33%;
}

@media (max-width: 800px) {
  .storageRequestReview-numbers {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 801px) {
  .storageRequestReview-numbers {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
