.availabilitySlotRow {
  border-bottom: none;
}

.availabilitySlotRow--active {
  border-bottom: 1px solid var(--codex-border-color);
}

.availabilitySlotRow-cell {
  padding: 0;
}

.availabilitySlotRow--inactive {
  display: none;
}

.availabilitySlotRow-cell-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 0;
  overflow: hidden;
  transition: height 0.35s;
  will-change: height;
  padding: 0 1rem;
}

.availabilitySlotRow--active .availabilitySlotRow-cell-content {
  height: 65px;
}

.availabilitySlotRow--closing .availabilitySlotRow-cell-content {
  height: 0;
}
