.text-contrast {
  color: white;
}

.text-secondary {
  mix-blend-mode: difference;
}

.text-center {
  text-align: center;
}

.text--primary {
  color: var(--codex-color-primary);
}

.text--error {
  color: var(--codex-color-error);
}

.text--spacing {
  margin-bottom: 0.75rem;
}

.text--warning {
  color: var(--codex-color-warning);
}
