.card {
  border: 1px solid rgba(150, 150, 150, 0.2);
  border-radius: 16px;
  padding: 16px;
  background-color: rgb(35, 35, 35);

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;

    svg {
      color: rgba(150, 150, 150, 1);
    }

    > div {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    h5 {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.011em;
    }
  }
}
