.peers-chart {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
  margin: auto;
  left: -32px;
  border-radius: 5px;

  @media (min-width: 1000px) {
    & {
      transform: scale(0.73);
    }
  }

  *,
  &::before {
    box-sizing: border-box;
  }

  &::before,
  &::after {
    position: absolute;
  }

  &::before {
    content: "";
    width: inherit;
    height: inherit;
    border: 45px solid #323232;
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
    border-bottom-right-radius: 5px;
  }

  div {
    position: absolute;
    top: 100%;
    width: inherit;
    height: inherit;
    border: 45px solid #323232;
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    transform-origin: 50% 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  div:nth-child(1) {
    border-color: var(--codex-color-primary);
    transform: rotate(calc(var(--codex-peers-degrees) * 1deg));
    background-color: transparent;
  }

  span {
    font-family: Inter;
    font-size: 50px;
    font-weight: 500;
    line-height: 48.34px;
    letter-spacing: -0.005em;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 24px);
  }
}
