.peers-card {
  position: relative;

  .peers-map {
    border-top: 1px solid #96969633;
    border-bottom: 1px solid #96969633;
    width: 100%;

    svg {
      width: 100%;
    }
  }

  .peers-chart {
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    bottom: 0;
    margin: auto;
  }

  footer {
    padding-top: 16px;
  }
}
