.peers-card {
  position: relative;

  .peers-map {
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    width: 100%;

    svg {
      width: 100%;
    }
  }

  .peers-chart {
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    bottom: 0;
    margin: auto;

    @media (max-width: 800px) {
      & {
        transform: scale(0.8);
      }
    }
  }

  footer {
    padding-top: 16px;
  }
}
