.availabilities {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  dialog {
    width: 80%;
  }

  > .card {
    flex: 1 1 50%;
  }

  .table {
    table thead tr th {
      background-color: #14141499;
    }

    table tbody tr.availabilty-row {
      td {
        background-color: #292929;
        padding: 6px 12px;

        &:first-child {
          cursor: pointer;
          transition: transform 0.35s;

          & svg {
            transition: transform 0.35s;
          }

          & svg[aria-expanded] {
            transform: rotate(-90deg);
          }
        }
      }
    }

    td {
      b {
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.011em;
        text-align: left;
        display: block;
      }

      small {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: #ffffffcc;
      }
    }
  }

  aside {
    display: flex;
    width: 400px;
    flex: 1 1 30%;

    .card {
      flex: 1;
    }

    main {
      > div {
        position: relative;
      }

      > .button {
        width: 100%;
        gap: 4px;
      }
    }

    .node-space {
      border-bottom: 1px solid #96969633;
      padding-bottom: 16px;

      h6 {
        border-top: none;
      }
    }

    footer {
      padding-top: 16px;

      b {
        display: block;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.015em;
        text-align: left;
      }

      small {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.006em;
        text-align: left;
        color: #969696cc;
      }
    }
  }

  .space-allocation {
    flex-direction: column;

    header {
      width: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
