.dashboard {
  .card--main {
    flex: 1 1 60%;

    &:first-child {
      filter: grayscale(30);
      transition: filter 0.5s;

      &:hover {
        filter: none;
      }
    }

    @media (min-width: 1600px) {
      & {
        flex: 1 1 35%;
      }

      &.welcome-card {
        flex: 1 1 35%;
      }

      &.card--main--files {
        flex: 1 1 62%;
      }
    }
  }

  > header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h3 {
      font-family: Inter;
      font-size: 12px;
      font-weight: 700;
      line-height: 14.52px;
      letter-spacing: 0.01em;
      color: rgba(150, 150, 150, 0.8);
      text-transform: uppercase;
    }

    h4 {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.01em;
      color: white;

      @media (min-width: 801px) {
        & {
          font-size: 32px;
          line-height: 38.73px;
        }
      }
    }

    .emoji {
      border-radius: 50%;
      width: 52px;
      height: 52px;
      background-color: rgb(74, 154, 115);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
    }
  }

  > main {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .column {
      min-width: 350px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1 1 30%;

      .card {
        flex: 1;
      }
    }

    @media (min-width: 1600px) {
      .column {
        flex: 1 0 5%;
      }
    }

    .files {
      flex: 1;
      flex-basis: 66%;
    }
  }

  .gauge {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
