.files-page {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  > .card {
    margin-bottom: 16px;

    &:first-child {
      flex: 1 1 70%;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 auto;

    .card:first-child {
      display: flex;
      flex-direction: column;
      /* flex: 1 1 67%; */
    }
  }
}
