.purchases {
  > div:first-child {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .table {
    table thead tr th {
      background-color: #14141499;
    }
  }
}

.purchases-loader {
  margin: auto;
  display: block;
}

@media (max-width: 800px) {
  .purchases-modal {
    width: calc(100% - 2rem);
  }
}
