.settings {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    margin-top: 16px;
    padding: 16px;
    max-width: 800px;
    z-index: 1;
    position: relative;

    h3 {
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.015em;
      margin-bottom: 16px;
    }

    .user-info {
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    }
  }

  .background-img {
    top: 200px;
    right: -400px;
    height: 1000px;
  }

  .refresh {
    top: 17px;
  }

  .address svg {
    top: 55px;
  }

  .input input {
    --codex-input-background-color: rgba(35, 35, 35, 1);
  }
}
