.wallet-login {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgb(37, 37, 37);
  filter: grayscale(30);
  transition: filter 0.5s;

  &:hover {
    filter: none;
  }

  div {
    > p {
      font-family: Inter;
      font-size: 8px;
      font-weight: 700;
      text-transform: uppercase;
      color: rgb(110, 110, 110);
      display: block;
      font-size: 10px;
    }
  }

  var {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 16px;
  }

  footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    p {
      font-family: Inter;
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
      text-align: left;
      color: rgb(62, 224, 137);
      font-style: normal;
    }

    a {
      font-family: Inter;
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
      color: rgb(110, 110, 110);
      cursor: pointer;
    }
  }
}
