.card-number {
  --codex-card-number-label-color: rgb(123, 123, 123);
  --codex-card-number-unit-color: rgba(150, 150, 150, 1);

  &[aria-invalid] {
    --codex-card-number-label-color: var(-codex-color-error);
    --codex-card-number-unit-color: var(-codex-color-error);
  }

  position: relative;

  label {
    color: var(--codex-card-number-label-color);
  }

  input {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.015em;
    width: 100%;
    background-color: transparent;
  }

  .tooltip {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  svg {
    color: var(--codex-card-number-unit-color);
  }

  span {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: var(--codex-card-number-unit-color);
    position: absolute;
    top: 54px;
    right: 48px;
  }
}
