.onboarding-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.onboarding-check-icon--valid {
  color: var(--codex-color-primary);
}

.onboarding-check-icon--invalid {
  color: rgb(var(--codex-color-error));
}

.onboarding-check-icon--warning {
  color: rgb(var(--codex-color-warning));
}

.onboarding-check-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.onboarding-check-refresh {
  cursor: pointer;
}

.onboarding-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.onboarding-codex {
  margin-top: 1rem;
  padding-left: 1rem;
}

.onboarding-deviceCheck {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.34px;
  display: inline-block;
}

.onboarding--deviceCheck-block {
  flex: 0.3;
}

.onboarding-displayName {
  margin-bottom: 1.75rem;
}

.onboarding-healthCheck-item {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 16px;
  border-top: 1px solid #3c3d3e;
  border-bottom: 1px solid #3c3d3e;
}

.onboarding-healthCheck-itemText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.011em;
}

.onboarding-healthChecks {
  margin-bottom: 32px;
}

.onboarding-healthCheck-icon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  justify-content: center;
}

.onboarding-refresh {
  position: relative;
  top: 14px;
  cursor: pointer;
}

.onboarding-refresh--fetching {
  animation: rotate 2s linear infinite;
}

.onboarding-portContainer,
.onboarding-addressContainer {
  position: relative;
}

.onboarding--addressSuccessIcon {
  position: absolute;
  top: 53px;
  bottom: 0;
  right: 18px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees */
  }
}
