.onboarding-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.onboarding-check-icon--valid {
  color: var(--codex-color-primary);
}

.onboarding-check-icon--invalid {
  color: rgb(var(--codex-color-error));
}

.onboarding-check-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.onboarding-check-refresh {
  cursor: pointer;
}

.onboarding-check-refresh--fetching {
  animation: rotateAnimation 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees */
  }
}
