.require-assistance {
  background-color: rgb(10, 20, 16);
  box-sizing: border-box;
  padding: 16px;
  border-radius: 16px;
  border-left: 4px solid rgb(108, 204, 147);
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 500px; */
  flex: 1 1 auto;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  max-width: 508px;

  h5 {
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgb(108, 204, 147);
  }

  h6 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgb(123, 251, 175);
    margin-bottom: 4px;
  }
}
